    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .container main {
        flex: 1 1 0;
        background-color: transparent;
        border: 0;
    }

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #000;
        color: #fff;
    }

    nav {
        background-color: #444;
        padding: 10px;
        box-sizing: border-box;
        text-align: right;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    nav a {
        color: #fff;
        text-decoration: none;
        margin: 0 15px;
        margin-top: 10px;
    }

    .logo {
        float: left;
        margin: -1rem;
        margin-left: 1rem;

    }

    .logo img {
        width: 4rem;
    }

    /* Adiciona estilo ao botão de menu */
    .menu-btn {
        display: none; /* Oculta o botão em telas maiores */
        background-color: #444;
        color: #fff;
        border: none;
        padding: 10px 15px;
        font-size: 16px;
        cursor: pointer;
    }

    /* Adiciona estilo ao menu quando está oculto */
    .nav-list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    header {
        background-color: #12AF01;
        color: black;
        text-align: center;
        padding: 1em;
        margin-top: 3rem;
    }

    header h1 {
        font-family: 'Dela Gothic One', cursive;
    }

    .informativos-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 95px;
    }

    .informativo {
        border: 1px solid #ccc;
        border-radius: 8px;
        margin-bottom: 20px;
        width: 30%;
        box-sizing: border-box;
        overflow: hidden;
    }

    .informativo .imagem {
        height: 200px; /* Ajusta a altura da div de imagem */
        background-size: cover;
        background-position: center;
    }

    .informativo .informacoes {
        padding: 10px;
        text-align: center;
    }

    .informativo h2 {
        font-size: 1.5em;
        font-family: 'Bebas Neue', sans-serif;
    }

    .informativo p {
        margin-top: 10px;
        font-family: 'Abel', sans-serif;
        font-size: 20px;
    }

    @media screen and (max-width: 768px) {
        .container {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        
        .container main {
            flex: 1 1 0;
            background-color: transparent;
            border: 0;
        }

        .informativo {
            width: 100%;
        }

        .nav-list {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 60px;
            left: 0;
            width: 100%;
            background-color: #333;
            z-index: 1;
        }

        .nav-list a {
            padding: 15px;
            text-align: center;
            width: 100%;
            display: block;
        }

        .menu-btn {
            display: block; /* Exibe o botão em telas menores */
        }

        /* Exibe o menu quando o botão é clicado */
        .nav-list.show {
            display: flex;
        }

    }

    footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 10px;
        width: 100%;
        position: relative;
        bottom: 0;
        margin-top: 0;
    }
